@import "bootstrap" ;

* {
 font-family: 'Montserrat', sans-serif;
}

.lab-yellow {
 color: #F7B617;
}

/*SECCIÓN INICIO*/
header {
 clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-header {
 align-content: center;
 margin: 1rem;
 height: 2rem;
}

.separador-header {
 margin: 0 2em;
}

.navbar-default {
 background-color: #F7B617 !important;
 margin-bottom: 0 !important;
}

.navbar-default .navbar-nav>li>a {
    color: white !important;
}

.yellow-line {
 border-top: 2px #F7B617 solid !important;
 
}

.inicio-imagen {
 background-image: url(../img/news/news-0.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 92vh;
 padding: 20rem 2rem 2rem 2rem;
 color: white;
}

/*SECCIÓN NOTICIAS SECUNDARIAS*/

.gray-bg {
 padding: 2rem;
 background-color: #2B2B2B;
}

.mywhite{
 color: white;
}

#noticia11 {
 background-image: url(../img/news/news-1.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 15rem;
}

#noticia22 {
 background-image: url(../img/news/news-2.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 15rem;
}

#noticia33 {
 background-image: url(../img/news/news-3.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 15rem;
}


/*SECCIÓN MUNDO*/

#mundo11 {
 background-image: url(../img/news/news-4.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 20rem;
}

#mundo22 {
 background-image: url(../img/news/news-5.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 8rem;
}

#mundo33 {
 background-image: url(../img/news/news-6.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 15rem;
}