@import "bootstrap" ;

* {
 font-family: 'Montserrat', sans-serif;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-header {
 margin: 1rem;
}

.separador-header {
 margin: 0 2em;
}

.navbar-default {
 background-color: #F7B617 !important;
}

.navbar-default .navbar-nav>li>a {
    color: white !important;
}